@model Noticias
    @{
        ViewData["Title"] = "Notícias";
    }

    <form action="@Url.Action("Cadastrar")" method="post" enctype="multipart/form-data">

        <label for="IdNoticia">IdNoticia</label>
        <input type="text" name="IdNoticia" id="IdNoticia">

        <label for="Título">Título</label>
        <input type="text" name="Título" id="Título">
        
        <label for="Texto">Texto</label>
        <input type="text" name="Texto" id="Texto">

        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem">

        <button type="submit">Cadastrar!</button>

    </form>

    <table class="table table-responsive table-striped">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Texto</th>
        <th>Foto</th>
        <th>Ações</th>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Noticia){
            <tr>
                <td>@item.IdNoticia</td>
                <td>@item.Titulo</td>
                <td>@item.Texto</td>
                <td>
                    <img src="img/Noticias/@item.Imagem" alt="Imagem da Noticia @item.Titulo" />
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Noticias" asp-action="Excluir" asp-route-id="@item.IdNoticia">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
    
